header {
    background-color: var(--nav-background-color); 
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
  }
  
  /* Logo styles */
  .logo img {
    max-width: 150px; 
  }
  
  /* Navigation styles */
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px; 
  }
  
  nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    transition: color 0.3s ease; 
    padding: 10px;
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
  }