@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=Roboto+Mono&Sans-serif=swap');
:root {
    --primary-color: #040524;
    --secondary-color: #268074;
    --accent1-color: #7ddabb;
    --accent2-color: #F6F1D1;

    --heading-font: 'Poetsen One', display;
    --paragraph-font: 'Roboto Mono', Sans-serif;

    --nav-background-color: #45474b;
    --nav-link-color: #ace6de;
    --nav-hover-link-color: #CFD7C7;
    --nav-hover-background-color: #bbb5b6;
}
body {
  font-family: var(--paragraph-font);
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px;
  color: var(--primary-color); 
}
p {
  color: var(--primary-color); 
  line-height: 1.5;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
nav a {  
  font-size: 1rem;
  display: flex;
  padding: 10px;
  align-items: center;
}
footer a {
  display: inline-block;
  margin-right: 10px;
}
footer img {
  width: 45px;
  height: 45px;
  vertical-align: middle;
}
.hero {
  position: relative;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
h1 {
  position: absolute;
  top: 0px; 
  left: 250px;
  color: white;
  font-size: 40px; 
  z-index: 1; 
}
aside {
  Position: relative;
  max-width: 300px;
}
aside h2 {
  position: absolute;
  color: black;
  top: -45px;
}
article {
  position: absolute;
  bottom: 250px; 
  top: 80px;
  left: 20px; 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 5px;
  max-width: 745px; 
  overflow: hidden;
  z-index: 2;
}
article img {
  float: right;
  margin-left: 0px;
  max-width: 23%;
}
p {
  margin-bottom: 20px; 
}
